

.background-img {
	background: url(https://i.ytimg.com/vi/dT2oCWFhXCs/maxresdefault.jpg);
	background-repeat: none;
	background-position: center;
	height: 700px;
}





.head-left h2 { 
	font-size: 20px;
}

.head-right a { 

	text-align: center;
	font-size: 10px;

}


.container1 {
	padding-top: 150px;
		

}

.head-left { 
	color: #f3f6f8;
	font-size: 20px;

}

.head-left h6 { 
	color: black;

}

.head-left h6:hover { 
	color: white;

}

.story { 
	text-align: center;

}

.story h3 { 
	font-size: 40px;
	padding-bottom: 30px;


}

.story p { 
	font-size: 25px;
	padding-right: 130px;
	padding-left: 130px;


}


.container2 { 
	padding-top: 150px;

}

.fam { 
	text-align: center;
	padding-top: 30px;


}

.fam p { 
	font-size: 20px;


}



.brooks img { 
	width:  300px;
    height: 300px;

}

.fam img .img-circle { 
	border-radius: 50%;

}

.sebastian img { 
	width:  300px;
    height: 300px;

}

.lula img { 
	width:  300px;
    height: 300px;

}



.container3 {
	padding-top: 150px;


}

.vid  { 
	padding-bottom: 50px;
	text-align: center;

}



.container4 { 
	padding-top: 50px;


}


.background-img2 { 
	background: url(Images4/future.png);
	background-repeat: none;
	background-position: center;
	height: 650px;

}

.my-future { 
	padding-left: 80px;
	padding-top: 190px;

}

.my-future h1 { 
	color: white;
	font-size: 33px;


}

.my-future h2 { 
	color: white;
	font-size: 30px;
	padding-left: 20px;


}

.container5 { 

padding-top: 80px;
text-align: center;




}

.finish h5 { 

	font-size: 20px;


}

.finish h6 { 

	padding-bottom: 80px;
	font-size: 18px;

}

@media(max-width: 872px) { 

.background-img {
	background: url(https://i.ytimg.com/vi/dT2oCWFhXCs/maxresdefault.jpg);
	background-repeat: none;
	background-position: center;
	height: 500px;
}

}

@media(max-width: 992px) { 

	.my-future h1 { 
		color: white;
		font-size: 25px;

	}

	.my-future h2 { 
		color: white;
		font-size: 20px;
		padding-left: 10px;

	}

}





