<!doctype html> 
<html>
<head></head> 

<body ng-app="groceryApp"> 
	<div ng-controller="GroceryCtrl">

		<div>
			<h1>Mason's Billion Dollar List</h1>

			<h3>Item</h3>
			<input ng-model="item">	
			
			<h3>Amount</h3>
			<input ng-model="quantity">
			<button ng-click="addGrocery()">Add to List</button>

			<h3>search</h3>
			<input type="text" ng-model="searchBox">



			<ol>
        		<li ng-repeat="i in list | filter:searchBox track by $index">
          			<div ng-hide= "i.isEditing">
          				<span ng-dblclick="i.isEditing = true">{{i.name}} : {{ i.amount }}</span>
          				<button ng-click="addAmount(i)">+</button>
          				<button ng-click="subtractAmount(i, $index)">-</button>
          				<button ng-click="deleteItem($index)">Delete</button>
          			</div>

          			<div ng-show="i.isEditing">
           				<input ng-model="i.name">
            			<button ng-click="i.isEditing = false">done</button>
         			</div>
        		</li>
      		</ol>

      		<p><button ng-click="emptyCart()">Empty Cart</button></p>


		</div>	


	</div>	

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
<script src="grocerylist.js"></script>
</body> 
</html>