.first-container {
	margin: 0px auto;
	width: 100%;
	background-color: #3b8cd9;
	text-align: center;


}

.main {
	text-align: center;
	color: white;
	
}

.header1{
	font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	font-size: 94px;
	padding-bottom: -500px;

}

.header2{
	color: #cfe1f1;

}

.buttons {
	text-align: center;
	padding: 30px;
	display: inline-block;


}

.download{
	background-color: #2dd983;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 100px;
	padding-top: .54166667em;
	padding-bottom: 0.65em;
	padding-right: 3.25em;
	padding-left: 3.25em; 
	
	
}

.demo{
	background-color: #a1c4e0;
	color: white;
	text-decoration: none;
	text-align: center;
	border-radius: 100px;
	padding-top: .54166667em;
	padding-bottom: 0.65em;
	padding-right: 3.25em;
	padding-left: 3.25em; 
}

}

.screenshot1{
	text-align: center;

}


.second-container { 
	margin: 0px auto;
	width: 100%;
	background-color: #f8f8f8;


}

.second-main {


}

.second-header{
	text-align: center;
	font-size: 32px;
	padding-top:70px;
}

.second-paragraph{
	text-align: center;
	font-size: 23px;
	padding-left: 20%;
	padding-right: 20%;

}

.BD-list li {

	width: 33%;
	float left;
	list-style-type: none;
	display: inline-block;

}

.third-container {
	margin: 0px auto;
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;

}

.third-header {
	text-align: center;
	font-size: 32px;
	padding-top: 70px;


}

.third-paragraph{
	text-align: center;
	font-size: 23px;
	

}

.screenshot2{

	padding-bottom: 50px;
}

.fourth-container {
	margin: 0px auto;
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;

}














