
body { 
	background-color: #06FFF8;

}

.container1 { 
	background-color: black;
	background-size: cover;
	color: #06FFF8;
	height: 80px;
	width: 100%;

}

.row h1 {
	padding-left: 50px;
	

}


.propList { 
	font-family: 'Montserrat';
	transition: all .3s;
}

.propList input { 
	width: 500px;
	height: 25px;
}

.propList li { 
	list-style-type: none;

}

.propList li span { 
	color: #f2f2f2;

}

.isDisabled { 
	opacity: .4s;
	pointer-events: none;

}

.my { 
	font-size: 10px;

}

.masonProps li { 
	list-style-type: none;
	font-family: 'Montserrat';

}

.masonProps li span{ 
	color: white;

}

.masonProps p { 
	font-size: 10px;

}

